.todo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.todo__control {
  appearance: none;
  border-width: 0;
  background: transparent none;
  color: currentColor;
  padding: 0;
  font-size: large;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.todo__control:focus {
  outline: none;
}
