.image {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: top left;
    background-size: cover;
}

.image__author {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #fff;
    font-size: x-small;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
}

.image__author a {
    text-decoration: none;
    color: #fff;
}