.settings {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.settings__icon {
    display: block;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.settings__popup {
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    bottom: 1.5rem;
    font-size: small;
}