:root {
  --input-width: 138px;
}

.settings {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.settings__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.settings__heading {
  margin: 0;
}

.settings__description {
  margin-top: 0.5em;
  font-size: smaller;
}

.settings__icon {
  position: relative;
  z-index: 1;
  display: block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.settings__popup {
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: 1.5rem;
  font-size: small;
}

.form__group + .form__group {
  margin-top: 0.5em;
}

.form__group label + input,
.form__group label + select {
  margin-top: 0.25em;
}

label {
  width: 100%;
  display: block;
  font-size: smaller;
}

input,
select {
  -webkit-appearance: none;
  width: var(--input-width);
  border: 1px solid #000;
  padding: 0.5em;
  border-radius: 0;
}

input[type="submit"] {
  width: auto;
  border-width: 0;
  color: rgba(255, 255, 255, 1);
  background-color: #2196f3;
  padding: 0.5em 1em;
  cursor: pointer;
}

input[type="submit"]:disabled {
  cursor: default;
  opacity: 0.5;
}
